<div class="flex items-center justify-center h-screen" data-controller="copy">
  <div class="card bg-base-100 shadow-xl min-w-fit max-w-md">
    <div class="card-body">
      <div class="items-center justify-center">
        <%= form_with url: post_entry_password_event_path, local: true do |f| %>
          <div class="mx-auto">
            <h1 class="text-center font-bold text-2xl w-full" style="text-align: center;">合言葉を入力</h1>
            <%= image_tag 'password.webp', class: "mx-auto mb-3", style: "display: block; margin: 0 auto;", size: '300x300' %>
          </div>
          <div class="flex items-center justify-center mt-3">
            <%= f.password_field :password, placeholder: "パスワードを入力", class: "input input-bordered input-secondary w-full max-w-xs" %>
            <button class="btn btn-active btn-primary ml-3">認証</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
