<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
</head>
<body>
  <h1>Events</h1>
  <ul>
    <% @events.each do |event| %>
      <li>
        <h2><%= event.title %></h2>
        <p><%= event.description %></p>
        <p><%= event.url_slug %></p>
      </li>
    <% end %>
  </ul>
</body>
</html>
